*.go -text diff=golang
*               text=auto

*.gitattributes text
.gitignore      text
*.md            text

.gitattributes  export-ignore
.gitignore      export-ignore

*.gitattributes linguist-language=gitattributes